* {
	box-sizing: border-box;
}

html {
	scrollbar-color: #393b3e #1c1e1f;
}

body {
	background-color: #222;
	color: #ddd;
	font-family: 'Source Han Sans HC', sans-serif;
	margin: 0 auto;
	max-width: 1050px;
	padding: 2em 1em;
}

h1, form p {
	text-align: center;
}

#customSqlInput {
	margin: 2em 0;
}

input[type="submit"] {
	border: 1px solid #ddd;
	background-color: #222;
	color: #ddd;
	font-family: sans-serif;
	font-size: 110%;
	margin: 0 3em;
	padding: 0.25em 1em;
}

table {
	border-collapse: collapse;
	overflow-wrap: break-word;
}

th, td {
	border: 1px solid #ddd;
	padding: 0.5em 1em;
}

#wrapperOutput:not(:empty) {
	border: 1px solid #ddd;
	margin: 2em 0;
	max-height: 400px;
	overflow: auto;
}
