@font-face {
	font-family: 'Segoe UI-Web';
	src: url('https://ir.sugina.cc/cdn/segoeui.ttf');
}

* {
	box-sizing: border-box;
}

body {
	background-color: #222;
	color: #ddd;
	font-family: 'Segoe UI', 'Segoe UI-Web', 'Source Han Sans HC', 'Noto Sans HK', sans-serif;
	margin: 0 auto;
	max-width: 1050px;
	padding: 2em 1em;
}

h1, form p {
	text-align: center;
}

#customSqlInput {
	margin: 2em 0;
}

input[type="submit"] {
	border: 1px solid #ddd;
	background-color: #222;
	color: #ddd;
	font-family: 'Segoe UI', 'Segoe UI-Web', sans-serif;
	font-size: 110%;
	margin: 0 3em;
	padding: 0.25em 1em;
}

table {
	border-collapse: collapse;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

th, td {
	border: 1px solid #ddd;
	max-width: 425px;
	padding: 0.5em 1em;
}

#wrapperOutput {
	margin: 2em 0;
	max-height: 400px;
	overflow: auto;
}
